<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta property="og:site_name" content="Socially">

    <meta http-equiv="refresh" content="3; url =  {{destinationURL}}" />
    <meta property=" og:url" content={{fullUrl}} />
    <meta property="og:title" content="{{creativeHeading}}" />
    <meta property="og:description" content="{{creativeDescription}}" />
    <meta property="og:image" content={{CreativeImage}} />
    <meta property="og:type" itemprop="image" content="website" />
    <title>Socially Advertisement Sharing</title>
</head>

<body>
    <p>waiting......</p>
</body>

</html>